<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/hint.css/2.2.1/hint.min.css" />
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/administrar/styles/datepicker.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.0.23/style/jquery.jscrollpane.min.css" />
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/administrar/styles/jquery.jscrollpane.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/administrar/styles/simplegrid.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/administrar/styles/themify-icons/themify-icons.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/administrar/styles/main.css" />
