<div class="form-group row">
	<label class="col-md-3 control-label" for="Assunto">Motivo</label>
	<div class="col-md-7">
		<select name="motivo" id="motivo" class="form-control field" required="required">
			<option value="">Selecione o motivo</option>
			<option value="Sem tempo">Sem tempo</option>
			<option value="Aguardando fechamento de turma">Aguardando fechamento de turma</option>
			<option value="Interessado em curso de outra instituição">Interessado em curso de outra instituição</option>
			<option value="Resolvendo assuntos particulares">Resolvendo assuntos particulares</option>
			<option value="Pesquisando cursos e valores">Pesquisando cursos e valores</option>
		</select>
	</div>
</div>
<div class="form-group row">
	<label class="col-md-3 control-label" for="Data/Melhor horário">Retornar? Quando?</label>
	<div class="col-md-3">
		<input type="text" class="form-control datepicker field" id="data" 
			name="data" placeholder="Informe a data" />
	</div>
	<div class="col-md-4">
		<select name="horario" class="form-control field" id="horario">
			<option value="">Selecione o melhor horário</option>
			<option value="08h às 11h">08h às 11h</option>
			<option value="11h às 15h">11h às 15h</option>
			<option value="15h às 19h">15h às 19h</option>
		</select>
	</div>
</div>
<div class="form-group row">
	<label class="col-md-3 control-label" for="Observações">Observações</label>
	<div class="col-md-7">
		<textarea name="observacoes" class="form-control field" rows="5" id="observacoes" 
			placeholder="Informações adicionais"></textarea>
	</div>
</div>
