<div class="form-group row">
	<label class="col-md-3 control-label" for="Motivo">Motivo</label>
	<div class="col-md-7">
		<input type="text" class="form-control field" id="motivo" name="motivo" 
			readonly="readonly" value="Aluno deseja fazer o curso na sua cidade"/>
	</div>
</div>
<div class="form-group row">
	<label class="col-md-3 control-label" for="Estado">Estado</label>
	<div class="col-md-4">
		<select class="form-control field" name="estado" id="estado" required="required">
		    <option value="">Selecione</option>
		    <option value="AC">AC</option>
		    <option value="AL">AL</option>
		    <option value="AP">AP</option>
		    <option value="AM">AM</option>
		    <option value="BA">BA</option>
		    <option value="CE">CE</option>
		    <option value="DF">DF</option>
		    <option value="ES">ES</option>
		    <option value="GO">GO</option>
		    <option value="MA">MA</option>
		    <option value="MT">MT</option>
		    <option value="MS">MS</option>
		    <option value="MG">MG</option>
		    <option value="PA">PA</option>
		    <option value="PB">PB</option>
		    <option value="PR">PR</option>
		    <option value="PE">PE</option>
		    <option value="PI">PI</option>
		    <option value="RJ">RJ</option>
		    <option value="RN">RN</option>
		    <option value="RS">RS</option>
		    <option value="RO">RO</option>
		    <option value="RR">RR</option>
		    <option value="SC">SC</option>
		    <option value="SP">SP</option>
		    <option value="SE">SE</option>
		    <option value="TO">TO</option>
		</select>
	</div>
</div>
<div class="form-group row">
	<label class="col-md-3 control-label" for="Cidade">Cidade</label>
	<div class="col-md-7">
		<input type="text" class="form-control field" id="cidade" name="cidade" 
			placeholder="Informe a cidade" required="required" />
	</div>
</div>
<div class="form-group row">
	<label class="col-md-3 control-label" for="Observações">Observações</label>
	<div class="col-md-7">
		<textarea name="observacoes" class="form-control field" id="observacoes" rows="5"
			placeholder="Informações adicionais"></textarea>
	</div>
</div>
