<div class="form-group row">
	<label class="col-md-3 control-label" for="Motivo">Motivo</label>
	<div class="col-md-7">
		<select name="motivo" id="motivo" class="form-control field" required="required">
			<option value="">Selecione o motivo</option>
			<option value="Desempregado">Desempregado</option>
			<option value="Achando curso caro">Achando curso caro</option>
			<option value="Problemas financeiros">Problemas financeiros</option>
		</select>
	</div>
</div>
<div class="form-group row">
	<label class="col-md-3 control-label" for="Observações">Observações</label>
	<div class="col-md-7">
		<textarea name="observacoes" class="form-control field" rows="5" id="observacoes" 
			placeholder="Informações adicionais"></textarea>
	</div>
</div>
